<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhoom!</title>
</head>
<body>
    
    <h1>
        Title: <%= title %>
    </h1>

    <h2>
        Seconds: <%= seconds  %>
    </h2>

    <h2>
        Items: <%= items  %>
    </h2>

    <%- include("footer.ejs") %>
</body>
</html>